<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/tw.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet"
    />
    {{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{ $title =
    .Site.Title }}{{ end }}

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://skjoldungar.is/" />
    <meta property="twitter:url" content="https://skjoldungar.is/" />

    {{ if .IsPage }}
        <meta property="twitter:card" content="summary_large_image" />
        {{ if .Params.Background }}
        <meta property="og:image" content="{{ .Params.Background }}" />
        <meta property="twitter:image" content="{{ .Params.Background }}" />
        {{ end }}

        <meta name="title" content="{{ .Params.Title }} — Skjöldungar" />
        <meta property="og:title" content="{{ .Params.Title }} — Skjöldungar" />
        <meta property="twitter:title" content="{{ .Params.Title }} — Skjöldungar" />

        {{ if .Params.Subtitle }}
        <meta name="description" content="{{ .Params.Subtitle }}" />
        <meta property="og:description" content="{{ .Params.Subtitle }}" />
        <meta property="twitter:description" content="{{ .Params.Subtitle }}" />
        {{ end }}
    {{ end }}

    <title>{{ $title }}</title>
</head>
