@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    scroll-behavior: unset !important;
}

.container {
    @apply mx-auto max-w-screen-xl px-8;
}

nav a,
nav button {
    @apply hover:text-tomato text-sm text-gray-800;
}

.link-column {
    @apply flex flex-col gap-2 pt-4;
}

.link-column a {
    @apply text-sm text-gray-100 hover:opacity-80;
}

.link-column a.external {
    @apply flex items-center gap-0.5;
}

iframe {
    @apply max-w-full;
}

* {
    @apply focus:outline-none focus-visible:outline-dotted focus-visible:outline-1 focus-visible:outline-offset-4 focus-visible:outline-black;
}

.bg-tomato *,
.hasdarkbg {
    @apply focus-visible:outline-white;
}

.dropdown {
    @apply relative;
}

.dropdown button[data-bs-toggle="dropdown"].show {
    @apply !text-tomato;
}

.dropdown-menu {
    @apply absolute !left-1/2 z-[25] !mt-8 hidden w-48 !-translate-x-1/2 overflow-hidden rounded-lg border border-gray-200 bg-white shadow;
}

.dropdown-menu.show {
    @apply !block;
}

.dropdown-menu button,
.dropdown-menu a {
    @apply block w-full px-4 py-3 text-left !text-sm text-slate-800 hover:bg-gray-50 focus:bg-gray-50 focus:outline-none;
}

.prose h1 {
    @apply text-2xl font-bold uppercase text-black md:text-3xl;
}

.prose h2 {
    @apply text-2xl font-semibold text-gray-800;
}

/* NProgress */

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #fff;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #fff, 0 0 5px #fff;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}